# C# / VS
.vs/
**/.vs/
bin/
obj/
**/bin/
**/obj/
*.user
*.suo

# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
.venv/
venv/
UV/

# Данные (тяжёлые)
*.csv
*.xlsx
*.parquet

# ML модели
*.cbm
*.pkl
*.bin
*.onnx

# CatBoost служебные
catboost_info/