# Данные
*.csv
*.xlsx
*.parquet

# Модели (тяжёлые бинарники)
*.cbm
*.pkl
*.bin
*.onnx

# CatBoost служебные
catboost_info/

# Python кэш
__pycache__/
*.pyc
*.pyo

# Виртуальные окружения
venv/
.venv/
env/
UV/

# C# / VS
.vs/
**/.vs/
bin/
obj/
**/bin/
**/obj/
*.user
*.suo